/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: min-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* fixed the header */
header {
    min-width: 200px;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9c3587;
    position: sticky;
    top: 0;
    width: inherit;
    max-width: inherit;
    z-index: 100;
}

header h2 { 
    flex: 40%;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 50px;
    color: #F89F5B;
    min-width:max-content;
}

header .nav-menu {
    flex: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#E53F71;
}

header .nav-btn {
    font-size: 25px;
    text-decoration: none;
    padding: 60px 10px;
    min-height: 100%;
}
header .nav-btn .nav-btn-text {
    min-width:max-content;
}

/* change color on link of the nav-btn */
.nav-btn:link {
    color: #F89F5B;
}

.nav-btn:visited {
    color: #F89F5B;
}

/* change color on hover the nav-btn */
.nav-btn:hover {
    background-color: #653780;
    color: #E53F71;
}

.bookings-indicator {
    flex:10%;
    margin-left: 20px;
    margin-right: 40px;
    background-color: #3F1651;
    color: #E53F71;
    padding: 25px;
    border-radius: 15px 30px 15px 30px;
    font-size: 25px;
    text-align: center;
    min-width: fit-content;
}

main {
    background-color: #653780;
    color: #FBBEDE;
}

footer {    
    background-color: #9c3587;
    height: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

footer .footer-content {
    color: #E53F71;
    font-size: 12px;
    align-items: center;
    text-align: center;
}

.back-to-top-btn {
    position: relative;
    bottom: 20px;
    text-align: right;
}

/* change color on link of the back-to-top */
.back-to-top-btn a:link {
    color: #F89F5B;
}

.back-to-top-btn a:visited {
    color: #F89F5B;
}

/* styling of bottom section */
.bottom-section {
    display: flex;
    width: 1200px;
    align-items: flex-start;
}

.bottom-menu {
    flex: 42%;
    display: flex;
}

.bottom-menu a {
    padding: 10px;
}

.bottom-brand-logo {
    flex: 58%;
}

.bottom-brand-logo h3 {
    font-size: 30px;
    color:#F89F5B;
}

hr {
    width: 80%;
    border-color:#3F1651;
}

.social-media-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-media-icon {
    background: #3F1651;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#E53F71;
    text-decoration: none;
    font-size: 24px;
}

.social-media-icon:hover {
    opacity: 0.8;
    transition: opacity 150ms;
}


/* enable responsive layout - change to nav-btn row to single column */
@media (max-width: 1000px) {
    header h2 { 
        flex: 30%;
    }
    header .nav-menu {
        flex: 70%;
        display: flex;
        flex-direction: column;
    }
    header .nav-menu .nav-btn {
        padding: 10px 10px;
    }

    .bookings-indicator {
        flex:10%;
    }
}
